audioread
decorator
dsdtools
future
imageio
joblib
jsonschema
librosa
llvmlite
mir-eval
musdb
museval
numba
opencv-python
pyaml
pysoundfile
pyyaml
resampy
scikit-learn
simplejson
soundfile
stempeg
tensorboardX
tqdm
cffi
